<div *ngIf="hero">
<h2>{{hero.name}} details:</h2>
<div><label>Id: </label>{{hero.id}}</div>
<div>
        <label>Name: </label>
        <input [(ngModel)]="hero.name" placeholder="name"/>
</div>
<button (click)="goBack()">Back</button>
<button (click)="save()">Save</button>
</div>